* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-weight: bold;
    margin:0;
}
h2 { 
    text-align:center;
}
p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}
.app {
    height: 100vh;
}
.app-container {
    display: grid;
    grid-template-columns:1fr 4fr;
    height:100%;
}