.bugsTable {
    border-left: black 1px solid;
    border-top: black 1px solid;
}
.bugsTableRow {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    width: calc(100vw - 342px);
    justify-content: space-between;
    align-items: stretch;
}
.bugData {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}
.bugTitle {
    cursor: pointer;
}
.pagination {
    display: flex;
    list-style: none;
    cursor: pointer;
    justify-content: space-around;
    
}

.pagination__link {
    font-weight: bold;
}
.pagination__link__active {
    background: rgb(137, 210, 215);
    color: white !important; 
  }
.pagination__link__disabled {
    color: rgb(198, 197, 202) !important;;
    border: 1px solid rgb(198, 197, 202);
}
.pagination a {
    padding: 10px;
    border-radius: 5px; 
    border: 1px solid #6c7ac9;
    color: #000000;
}
.bugTableHeader {
    background-color: rgb(137, 210, 215)!important;

}
.bugsTableRow:nth-of-type(odd) {
    background-color: rgba(0,0,0,.12);
}