.assigned-user-details-wrapper {
    border-top: solid 1px black;
    border-left: solid 1px black;
}
.assigned-user-details {
   display: grid; 
   grid-template-columns: 1fr 1fr 1fr 1fr;
}
.assigned-user-details:nth-of-type(odd) {
    background-color:rgba(0,0,0,0.12)
}
.assigned-user-details > * {
    border-bottom: solid 1px black;
    border-right: solid 1px black;
}
.assigned-user-header {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(137,210,215)
}
.assigned-user-details-data {
    display:flex;
}
.ticket-table-wrapper {
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.ticket-data-header {
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:rgb(137,210,215)
}
.ticket-data {
    display:grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
}
.ticket-data > * {
    border-bottom: solid 1px black;
    border-right: solid 1px black;
}
.ticket-data:nth-of-type(odd) {
    background-color:rgba(0,0,0,0.12)
}