/* to refactor for module.css*/
.project-grid{
    display:grid;
    grid-template-areas:
    "a a a" 
    "b b c" 
    "b b c"; 
    background-color:rgba(245, 245, 245, 0.884);
    justify-items:stretch;
    margin: 20px 10px 20px 10px;
    max-height: calc(100vh - 120px);
    height: calc(100vh - 200px);
}
.box1 {
    grid-area: a;
    background-color:white;
    border-radius:20px;
}
.box2 {
    grid-area: b;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}
.box3 {
    grid-area: c;
    background-color:white;
    padding: 10px;
    border-radius:20px; 
}
.project-grid-details {
    display:grid;
    grid-template:
    "aa aa"
    "ab ac"
    "ab ac" ;
    min-height:15vw;
    min-width: 80%;
    margin: 20px 10px 0px 10px;
}
.box-a1 {
    grid-area: aa;
    height:55px;
    text-align:center;
}
.project-users {
    margin: 20px 10px 20px 10px;
}
.project-bugs{
    margin: 20px 10px 20px 10px;
}
.box-a2 {
    grid-area: ab;
}

.box-a3 {
    grid-area: ac;
}
.project-grid-title {
    position: relative;
    bottom: 5px;
    background-color: orange;
    margin: 0px 20px 0px 20px;
    padding: 10px 0px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius:10px;
}
.project-grid-item {
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1) 
}
.project-bugs-items {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}
.project-bugs-info {
    border-right:black 1px solid;
    border-bottom:black 1px solid;
}
.project-bugs-table {
    border-top: black 1px solid;
    border-left: black 1px solid;
}
.project-users-table {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.project-users-table-container {
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.project-user-table-items {
    border-right: black 1px solid;
    border-bottom: black 1px solid
}
.center {
    text-align:center;
    margin-bottom:10px;
}
.table-header {
    background-color: rgb(137, 210, 215) !important;
}

.project-bugs-items:nth-of-type(odd) {
    background-color: lightgrey;
}
.project-users-table:nth-of-type(odd) {
    background-color: lightgrey;
}