.assigned-user-details-wrapper {
    border-top: solid 1px black;
    border-left: solid 1px black;
}
.assigned-user-details {
   display: grid; 
   grid-template-columns: 1fr 1fr 1fr 1fr;
   
}
.assigned-user-details > * {
    border-bottom: solid 1px black;
    border-right: solid 1px black;
}
.assigned-user-details-data {
    display:flex;
}
.ticket-table-wrapper {
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.ticket-table {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.ticket-table > * {
    border-bottom: solid 1px black;
    border-right: solid 1px black;
}
