.project-list-container{
    display: inline-grid;

}
.project-list{
    width: calc(100vw - 200px);
}
.project-list ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
}
.projects-header {
    background-color: rgb(137, 210, 215);
    text-align: center;  
}