.navbar{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    width:342px;
}
img {
    width: 100%;
    max-width:200px;
}

.navbar ul {
    list-style-type:none;
    text-align: center;
    list-style-position:inside;
    padding:0px;
}