.projectTable {
    display:inline-grid;
}
.projects {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: calc(100vw - 342px);
    justify-content: space-between;
    align-items: stretch;
}
.projects:nth-of-type(even) {
    background-color: rgba(0,0,0,.12);;
}
.project-details {
    align-self:left;
}
.project-menu ul {
    list-style-type:none;
}
.project-menu ul {
    display:flex;
    flex-direction: column;
}
.project-name {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.project-details {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.project-menu {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.project-list-container {
    border-left: 1px solid black;
    border-top: 1px solid black;
}